<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="petmanagement.petmanagement.mapper.AdminMapper" >
  <resultMap id="BaseResultMap" type="petmanagement.petmanagement.entity.Admin" >
    <id column="adminid" property="adminid" jdbcType="INTEGER" />
    <result column="adminname" property="adminname" jdbcType="VARCHAR" />
    <result column="adminpassword" property="adminpassword" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    adminid, adminname, adminpassword
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from admin
    where adminid = #{adminid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from admin
    where adminid = #{adminid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="petmanagement.petmanagement.entity.Admin" >
    insert into admin (adminid, adminname, adminpassword
      )
    values (#{adminid,jdbcType=INTEGER}, #{adminname,jdbcType=VARCHAR}, #{adminpassword,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="petmanagement.petmanagement.entity.Admin" >
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adminid != null" >
        adminid,
      </if>
      <if test="adminname != null" >
        adminname,
      </if>
      <if test="adminpassword != null" >
        adminpassword,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adminid != null" >
        #{adminid,jdbcType=INTEGER},
      </if>
      <if test="adminname != null" >
        #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="adminpassword != null" >
        #{adminpassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="petmanagement.petmanagement.entity.Admin" >
    update admin
    <set >
      <if test="adminname != null" >
        adminname = #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="adminpassword != null" >
        adminpassword = #{adminpassword,jdbcType=VARCHAR},
      </if>
    </set>
    where adminid = #{adminid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="petmanagement.petmanagement.entity.Admin" >
    update admin
    set adminname = #{adminname,jdbcType=VARCHAR},
      adminpassword = #{adminpassword,jdbcType=VARCHAR}
    where adminid = #{adminid,jdbcType=INTEGER}
  </update>
</mapper>